[Unit]
Description=Sensor Veml7700
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/sersorsProject/veml7700-waypoint-agent/main.py
Restart=always

[Install]
WantedBy=multi-user.target