[Unit]
Description=DataBase sersorsProject
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/sersorsProject/db-waypoint-agent/main.py
Restart=on-abort

[Install]
WantedBy=multi-user.target