[Unit]
Description=Sensor DHT11
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/icu4covid/dht11-waypoint-agent/main.py
Restart=on-abort

[Install]
WantedBy=multi-user.target